---
import enStrings from '@en/navigationen';
import esStrings from '@es/navigation.ts';
import BradLogo from '@components/BrandLogo.astro';

//secciones de idiomas 
const strings = Astro.currentLocale === 'en' ? enStrings : esStrings;
const homeUrl = Astro.currentLocale === 'en' ? '/en' : '/';
---

<header
class="sticky inset-x-0 top-4 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md.justify-start">
    <nav class="relative mx-2 w-full rounded-[36px] border border-yellow-100/40 bg-yellow-50/60 px-4 py-3 backdrop-blur-md md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto dark:border-neutral-700/40 dark:bg-neutral-800/80 dark:backdrop-blur-md"
    aria-label="Global">
        <div class="flex items-center justify-between">
            <a 
            class="flex-none rounded-lg text-xl font-bold ring-zinc-500 outline-hidden focus-visible:ring-3 dark:ring-zinc-200 dark:focus:outline-hidden"
            href={homeUrl}
            aria-label="Brand">

            {/*logo o nombre de la marca*/}
            <BradLogo class="h-auto w-50"/>

            </a>
        </div>
    </nav>
    
</header>