---
import '@styles/global.css';
import { SITE } from '@data/constants';
import Navbar from '@components/secciones/navbar&footer/Navbar.astro';

const{
    title = SITE.title,
    meta,
    structuredData,
    lang = 'en?',
    customDescription = null,
    customOgTitle = null,
} = Astro.props;

interface Props{
    title?: string;
    meta?: string;
    structuredData?:object;
    lang?: string;
    customDescription?:string;
    customOgTitle?: string | null;
}


---
<html >
    <head>

        <title>{title}</title>
        <script is:inline>
            if(
                localStorage.getItem('theme') === 'dark' ||
                (!('theme' in localStorage) && 
                window.matchMedia('(prefers-color-scheme: dark)').matches)
            ){
                document.documentElement.classList.add('dark');
            }else{
                document.documentElement.classList.remove('dark');
            }
        </script>
    </head>
    <body class="flex min-h-screen flex-col bg-neutral-200 selection:bg-yellow-400 selection:text-neutral-700 dark:bg-neutral-800">
       
        <div class="mx-auto w-full max-w-(--breakpoint) grow px-4 sm:px-6 lg:px-8">
        <Navbar/>
        <main>
            <slot />
        </main>
       </div>

    </body>
    

</html>